h1{
    color: rgb(98, 131, 149);
}

#galerie .galerie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

#galerie img {
    width: 100%;
    border-radius: 8px;
}